[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
astropy = "*"
sloscillations = {editable = true, git = "https://github.com/jsk389/sloscillations"}
jupyterlab = "*"
scikit-learn = "*"
tqdm = "*"
bochamm = {editable = true, path = "."}
turbo = {git = "https://github.com/uber-research/TuRBO"}
pygmmis = "*"
kneed = "*"
hdbscan = "*"

[dev-packages]

[requires]
python_version = "3.8"
